.balls__wrapper {
  width: 1920px;
  height: 1px;
  position: absolute;
  @include x-align;
  top: 0px;
  z-index: 2;
}

.balls__income-ball-box-left {
  position: relative;
  left: 208px;
  top: -2103px;

  @media (max-width: 1500px) {
    left: 244px;
  }

  @media (max-width: 1200px) {
    display: none;
  }
}

.balls__income-ball-box-right {
  position: relative;
  right: -1615px;
  top: -1585px;

  @media (max-width: 1500px) {
    right: -1553px;
  }

  @media (max-width: 1200px) {
    display: none;
  }
}

.balls__exp-ball-box {
  position: relative;
  left: 165px;
  top: 84px;

  @media (max-width: 1500px) {
    left: 252px;
  }

  @media (max-width: 1200px) {
    display: none;
  }
}

.balls__exp-ball-box-right {
  position: relative;
  right: -1615px;
  top: 695px;

  @media (max-width: 1500px) {
    right: -1553px;
  }

  @media (max-width: 1200px) {
    display: none;
  }
}

.balls__desc-ball-box-left {
  position: relative;
  left: 107px;
  top: 450px;

  @media (max-width: 1500px) {
    left: 159px;
  }

  @media (max-width: 1200px) {
    display: none;
  }
}

.balls__desc-ball-box-right {
  position: relative;
  right: -1615px;
  top: -200px;

  @media (max-width: 1200px) {
    display: none;
  }
}

.balls__stats-ball-box-left {
  position: relative;
  left: 107px;
  top: 489px;

  @media (max-width: 1500px) {
    left: 159px;
  }

  @media (max-width: 1200px) {
    display: none;
  }
}

.balls__stats-ball-box-right {
  position: relative;
  right: -1615px;
  top: 863px;

  @media (max-width: 1200px) {
    display: none;
  }
}

.ball {
  position: absolute;

  @media (max-width: 1200px) {
    display: none;
  }

  &_red-left-1 {
    top: 0px;
    left: 0px;
    transition: transform 0.4s ease-out;
  }
  &_red-left-2 {
    top: 44px;
    left: 34px;
    transition: transform 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  &_red-left-3 {
    top: 423px;
    left: -105px;
    transition: transform 0.5s ease-in-out;
  }

  &_red-right-1 {
    transition: transform 0.4s ease-out;
  }
  &_red-right-2 {
    top: 171px;
    right: 1909px;
    transition: transform 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  &_red-right-3 {
    top: 341px;
    right: 1651px;
    transition: transform 0.5s ease-in-out;
  }

  &_blue-left-1 {
    top: 0px;
    left: 0px;
    transition: transform 0.4s ease-out;
  }
  &_blue-left-2 {
    top: 282px;
    left: 34px;
    transition: transform 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  &_blue-left-3 {
    top: 628px;
    left: -47px;
    transition: transform 0.5s ease-in-out;
  }
  &_blue-left-4 {
    top: 817px;
    left: -160px;
    transition: transform 0.5s ease;
  }

  &_blue-right-1 {
    transition: transform 0.4s ease-out;
  }
  &_blue-right-2 {
    top: 242px;
    right: 1835px;
    transition: transform 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  &_blue-right-3 {
    top: 378px;
    right: 1606px;
    transition: transform 0.5s ease-in-out;
  }
}
