.calc {
  @include bg;
  background-position-y: bottom;
  background-image: url('/src/img/bgs/calc-bg.jpg');
  padding-bottom: 220px;

  @media (max-width: 650px) {
    padding-bottom: 125px;
  }
}

.calc__img {
  @include max-width(560px);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 58px;

  @media (max-width: 650px) {
    margin-bottom: 25px;
  }
}

.calc__title {
  @include title;
  @include max-width(570px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 51px;

  @include tablet-mb(35px);
  @include mobile-mb(20px);
}

.calc__text {
  @include max-width(650px);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  margin-bottom: 58px;

  @include tablet-mb(40px);
  @include mobile-mb(20px);
}

.calc__content {
  border-radius: 10px;
  box-shadow: 0px 13px 53.6px 3.4px rgba(0, 0, 0, 0.14);
  background-color: white;
  padding-top: 47px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 51px;
  position: relative;

  &::before {
    position: absolute;
    z-index: -1;
    content: url('/src/img/calc-confeti.png');
    left: -212px;
    top: -332px;

    @media (max-width: 1150px) {
      left: -304px;
      top: -391px;
    }

    @media (max-width: 650px) {
      content: none;
    }
  }

  &::after {
    position: absolute;
    z-index: -1;
    content: url('/src/img/calc-money.png');
    left: -272px;
    top: -150px;

    @media (max-width: 1320px) {
      content: none;
    }
  }

  @media (max-width: 1150px) {
    @include max-width(600px);
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 650px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.calc__content-bg {
  background-color: white;
  z-index: -1;
  width: calc(100% - 40px);
  height: 100%;
  position: absolute;
  @include x-align;
  top: 14px;
  border-radius: 10px;
}

.calc__flex {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;

  @media (max-width: 1150px) {
    justify-content: center;
  }

  @media (max-width: 650px) {
    gap: 15px;
  }
}

.calc__input-box {
  @include max-width(470px);
  margin-bottom: 60px;

  @media (max-width: 1150px) {
    margin-bottom: 10px;
  }
}

.calc__result-box {
  @include max-width(470px);
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: 1150px) {
    align-items: center;
    margin-bottom: 50px;
    padding-left: 0;
  }
}

.calc__result-text {
  font-size: 18px;
  margin-bottom: 25px;

  @media (max-width: 650px) {
    margin-bottom: 15px;
  }
}

.calc__result {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0;
  position: relative;
  z-index: 2;

  &::before {
    content: url('/src/img/calc-result-bg.png');
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-42%);
    z-index: -1;
    position: absolute;

    @media (max-width: 650px) {
      zoom: 0.65;
    }
  }
}

.calc__input-label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;

  @media (max-width: 1150px) {
    margin-bottom: 15px;
  }
}

.calc__input-container {
  position: relative;
  height: 14px;
  width: 100%;
  margin-bottom: 20px;
}

.calc__input-left-line {
  position: absolute;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #d68d9f, #e8abba);
  box-shadow: inset 0.5px 0.9px 3px 0 rgba(0, 0, 0, 0.46);
  left: 0px;
  top: 0px;
  z-index: 2;
  overflow: hidden;

  &::before {
    width: 123%;
    position: absolute;
    top: 0px;
    left: 56%;
    transform: translateX(-50%);
    height: 16px;
    background-image: url('/src/img/calc-line-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
  }
}

.calc__input-left-line-bg {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 45%;
  border-radius: 10px 10px 0px 0px;
  background-color: rgba(white, 0.11);
}

.calc__right-line {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: inset 0.5px 0.9px 3px 0 rgba(0, 0, 0, 0.46);
  background-image: linear-gradient(to bottom, #c2c2c2, #dbdbdb);
  left: 0px;
  top: 0px;
  z-index: 1;
}

.calc__input-bg {
  position: absolute;
  @include central-align;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 10px;
  opacity: 0.6;
  background-image: linear-gradient(to bottom, #bfbfbf, white);
}

.calc__input {
  position: relative;
  top: -5px;
  z-index: 3;
  width: 100%;
  height: 14px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background-color: rgba(255, 255, 255, 0);

  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    width: 32px;
    height: 32px;
    -webkit-appearance: none;
    appearance: none;
    @include bg;
    background-image: url('/src/img/icons/thumb.png');
    background-color: white;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.32), inset 0px 1px 0 0 white;
    border-radius: 50%;

    &:hover,
    &:focus {
      transform: scale(1.1);
      outline: none;
      border: none;
      box-shadow: none;
    }
  }

  &::-moz-range-thumb {
    width: 32px;
    height: 32px;
    -moz-appearance: none;
    appearance: none;
    @include bg;
    background-image: url('/src/img/icons/thumb.png');
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.32), inset 0px 1px 0 0 white;
    border-radius: 50%;

    &:hover,
    &:focus {
      transform: scale(1.1);
      outline: none;
      border: none;
      box-shadow: none;
    }
  }

  &::-ms-thumb {
    width: 32px;
    height: 32px;
    appearance: none;
    @include bg;
    background-image: url('/src/img/icons/thumb.png');
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.32), inset 0px 1px 0 0 white;
    border-radius: 50%;

    &:hover,
    &:focus {
      transform: scale(1.1);
      outline: none;
      border: none;
      box-shadow: none;
    }
  }
}

.calc__endpoints {
  display: flex;
  justify-content: space-between;
}

.calc__endpoint {
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 20px;

  &_medium {
    width: 26px;
  }

  @media (max-width: 650px) {
    font-size: 13px;
  }
}
