.header {
  padding-top: 11px;
  position: relative;
  z-index: 1;

  &_thanks {
    &::before {
      content: url('/src/img/thanks-confeti-left.png');
      position: absolute;
      left: 0px;
      top: 0px;
      pointer-events: none;
      @media (max-width: 1440px) {
        content: none;
      }
    }

    &::after {
      content: url('/src/img/thanks-confeti-right.png');
      position: absolute;
      right: 0px;
      top: 0px;
      pointer-events: none;
      @media (max-width: 1440px) {
        content: none;
      }
    }
  }
}

.header__logo {
  @media (max-width: 650px) {
    width: 75px;
    height: auto;
  }
}

.header__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;

  @media (max-width: 700px) {
    align-items: center;
  }
}

.header__text {
  margin-bottom: 0;
  font-size: 14px;
  text-align: center;
  position: relative;
  top: 5px;

  @media (max-width: 700px) {
    display: none;
  }
}

.header__contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-left: 24px;

  &:hover {
    &::before {
      transform: translateY(-50%) rotate(33deg);
    }
  }

  &::before {
    content: '';
    width: 18px;
    height: 20px;
    @include bg;
    background-size: contain;
    background-image: url('/src/img/icons/phone.png');
    @include y-align;
    left: 0px;
    position: absolute;
    transition: transform 0.5s;
  }
}

.header__phone {
  @include reset-link(black);
  font-size: 18px;
  font-weight: 800;
  color: black;

  @media (max-width: 650px) {
    font-size: 16px;
  }
}

.header__callback {
  @include reset-btn;
  @include reset-link(black);
  text-align: center;
  color: black;
  font-size: 15px;

  @media (max-width: 650px) {
    font-size: 14px;
  }
}
