.modal-form {
  position: relative;
  @include max-width(439px);
  box-shadow: -2px 21px 9px -7px rgba(34, 60, 80, 0.23);
  background-image: linear-gradient(to top, #f7f7f7, #f8f8f8);
  border-radius: 10px;
  padding-top: 38px;
  padding-bottom: 41px;
  padding-left: 41px;
  padding-right: 41px;
  z-index: 1;

  @media (max-width: 650px) {
    padding: 20px;
  }

  &_part {
    margin-left: auto;
    &::before {
      z-index: -1;
      content: url('/src/img/part-img.png');
      left: -746px;
      top: 56px;
      position: absolute;

      @media (max-width: 650px) {
        content: none;
      }
    }
  }

  &_money {
    margin-left: auto;
  }

  &::after {
    position: absolute;
    z-index: -1;
    width: calc(100% + 20px);
    height: calc(100% + 28px);
    box-shadow: -1px 17px 12px -7px rgba(34, 60, 80, 0.23);
    opacity: 0.42;
    border-radius: 10px;
    background-color: white;
    @include central-align;
    content: '';
  }
}

.modal-form__title {
  text-align: center;
  margin-bottom: 37px;
  font-size: 20px;

  @media (max-width: 650px) {
    font-size: 17px;
    margin-bottom: 20px;
  }

  span {
    font-weight: 600;
    color: #034b9f;
    text-transform: uppercase;
  }
}

.modal-form__input-container {
  display: flex;
  flex-direction: column;
  gap: 17px;
  width: 100%;
  margin-bottom: 19px;
}

.modal-form__input-box {
  background-color: #efefef;
  min-height: 81px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding-left: 78px;
  padding-right: 10px;
  position: relative;

  &::before {
    width: 28px;
    height: 36px;
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    content: '';
    left: 38px;
    @include y-align;

    @media (max-width: 650px) {
      left: 21px;
    }
  }

  @for $i from 1 through 3 {
    &:nth-child(#{$i})::before {
      background-image: url('/src/img/icons/form/#{$i}.png');
    }
  }

  &_city {
    &::before {
      width: 40px;
      left: 31px;
      background-image: url('/src/img/icons/form/4.png') !important;

      @media (max-width: 650px) {
        left: 16px;
      }
    }
  }

  @media (max-width: 650px) {
    padding-left: 60px;
  }
}

.modal-form__input {
  font-size: 20px;
  width: 100%;
  border: none;
  background-color: transparent;

  @media (max-width: 650px) {
    font-size: 16px;
  }

  &::-webkit-input-placeholder {
    color: #807d7d;
    font-style: italic;
    font-weight: 300;
  }

  &::-moz-placeholder {
    color: #807d7d;
    font-style: italic;
    font-weight: 300;
  }

  &:-ms-input-placeholder {
    color: #807d7d;
    font-style: italic;
    font-weight: 300;
  }

  &:-moz-placeholder {
    color: #807d7d;
    font-style: italic;
    font-weight: 300;
  }
}

.modal-form__policy {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;

  @media (max-width: 650px) {
    font-size: 14px !important;
  }

  span {
    color: $blue;
    text-decoration: underline;
  }
}
