.stats {
  padding-top: 84px;
  padding-bottom: 89px;
  position: relative;

  @media (max-width: 1150px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (max-width: 650px) {
    padding-top: 0px;
    padding-bottom: 30px;
  }
}

.stats__title {
  @include title;
  @include max-width(1000px);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 64px;

  @include tablet-mb(40px);
  @include mobile-mb(20px);
}

.stats__text {
  @include max-width(1038px);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  margin-bottom: 55px;

  @include tablet-mb(40px);
  @include mobile-mb(20px);
}

.stats__list {
  @include reset-list;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 55px;

  @include tablet-mb(40px);
  @include mobile-mb(20px);
}

.stats__item {
  @include max-width(360px);
  @include bg;
  min-height: 402px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-left: 25px;
  padding-bottom: 30px;
  padding-right: 20px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 13px 53.58px 3.42px rgba(0, 0, 0, 0.14);

  &::before {
    z-index: 0;
    position: absolute;
    bottom: -179px;
    left: -227px;
    content: url('/src/img/cloud.png');
  }

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      background-image: url('/src/img/gallery/stats/#{$i}.jpg');
    }
  }
}

.stats__item-text {
  @include max-width(267px);
  font-size: 16px;
  font-weight: 600;
  color: white;
  min-height: 110px;
  margin-bottom: 0;
  position: relative;

  @media (max-width: 805px) {
    min-height: auto;
  }
}

.stats__note {
  @include max-width(600px);
  font-size: 18px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
